.dropdown_option_theme_light {
  // DropdownOption background should follow DrowdownSelect's Options Container background
  @include use_theme(unset, "light");
}
.dropdown_option_hover_theme_light {
  &:hover {
    background-color: $primary-grey-medium-light;
  }
}
.dropdown_option_active_theme_light {
  color: $fc-light;
  background-color: $primary-grey-medium;
}
