.dropdown_option_base {
  //   border: 1px solid green;
  width: 100%;
  font-size: $font-size-default;
  padding: $padding-xsmall;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: block;
  text-decoration: none;
}
