.dropdown_option_base_theme_light {
  // DropdownOption background should follow DrowdownSelect's Options Container background
  @include use_theme(unset, "light");
  &:hover {
    color: $fc-light;
    background-color: $primary-grey-medium;
  }
}
.dropdown_option_active_light {
  background-color: $primary-grey-medium-light;
}
