.hsc_container {
  //   border: 2px solid $primary-grey-medium;
  //   border-radius: 0 0 $border-radius-small $border-radius-small;
  width: 540px;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}

.hsc_container_inheritWidth {
  width: 100%;
  min-width: inherit;
}
