.inputLabel_container {
  // border: 1px solid blue;
  width: 256px;
}

.inputLabel_top {
  // border: 2px solid;
}

.inputlabel_top_marginBottom {
  margin-bottom: $margin-xxsmall;
}

.inputLabel_label {
  font-weight: 600;
  font-size: $font-size-default;
}

.inputLabel_required {
  font-weight: 500;
  font-size: $font-size-1;
  font-family: $font-family;
  color: $error-red;
}

.inputLabel_description {
  font-weight: 400;
  font-size: $font-size-1;
  font-family: $font-family;
  color: $fc-dark;
}

.inputlabel_label_margin_right {
  margin-right: $margin-xxxsmall;
}
