.component_tabButton_container {
  border: 1px solid $primary-grey-medium;
  height: 32px;
  width: 92px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $primary-grey-medium-light;
  }
  &:first-child {
    border-radius: $border-radius-default 0 0 $border-radius-default;
  }
  &:last-child {
    border-radius: 0 $border-radius-default $border-radius-default 0;
  }
}

.component_tabButton_active {
  background-color: $primary-grey-medium-light;
}
