.image_container {
  // border: 2px solid blue;
  overflow: hidden;
  display: block;
  position: relative;
  // default dimensions
  width: 456px;
  height: 364px;
}

.image_container_inheritWidth {
  width: 100%;
  min-width: inherit;
}

.image_container_clickable_zoomIn {
  cursor: zoom-in;
}

.image_container_clickable_zoomOut {
  cursor: zoom-out;
}

.image_container_clickable_pointer {
  cursor: pointer;
}

.image_img {
  // border: 2px solid green;
  object-position: center;
  width: 100%;
  height: auto;

  // center
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image_img_fit-cover {
  object-fit: cover;
}
.image_img_fit-contain {
  object-fit: contain;
}
.image_img_fit-fill {
  object-fit: fill;
}
