/*
* Global CSS Styles should ONLY be imported in [global.scss]
*/
@use "variables" as *;

// p {
//   margin-block-start: 0;
//   margin-block-end: 0;
//   margin-inline-start: 0;
//   margin-inline-end: 0;
//   font-size: $font-size-default;
//   line-height: 18px;
// }

.title {
  font-weight: 700;
  font-size: $font-size-7;
}

.heading {
  font-weight: 700;
  font-size: $font-size-4;
}

.sub_heading {
  font-weight: 600;
  font-size: $font-size-4;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
