/*
* Global CSS Styles should ONLY be imported in [global.scss]
*/
@use "variables" as *;

.title {
  font-weight: 700;
  font-size: $font-size-7;
}

.heading {
  font-weight: 700;
  font-size: $font-size-4;
}

.sub_heading {
  font-weight: 600;
  font-size: $font-size-4;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
