/*
* [global.scss] should only be imported ONCE in index.ts
*/
@use "variables" as *;
// [defaults] must come before [spacings]
@use "defaults" as *;
@use "spacings" as *;
@use "fontClasses" as *;
@use "transitions" as *;
@use "mixins" as *;

.code_base {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.component_disabled {
  position: relative;
  pointer-events: none;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-grey-medium;
    opacity: 0.5;
  }
  &:hover {
    background-color: unset;
    cursor: default;
  }
}

.no_select {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Old versions of Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version
}

.background_image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.width_full {
  max-width: none;
  width: 100%;
}

.width_fit_content {
  width: fit-content;
}

.position_relative {
  position: relative;
}

.overflow-y-auto {
  overflow-y: auto;
}

svg {
  display: block;
  margin: auto;
}

.a_base {
  text-decoration: none;
  color: $lc-blue;
  &:hover {
    text-decoration: underline;
  }
}

/**
* TODO: Tables should be moved to its own component and styles
*/
.table_base {
  font-family: $font-family;
  // color: $fc-dark;
  border-collapse: collapse;
  width: 100%;
}

.td_base,
.th_base {
  padding: $padding-xsmall;
  border: 1px solid #ddd;
}

.th_base {
  // background-color: $primary-grey-dark;
  // color: $fc-light;
  // text-align: left;
  font-weight: 500;
}

.td_base {
  // text-align: center;
}
