.card_content_container {
  //   border: 2px solid blue;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
}

.card_content_container_wrap {
  white-space: normal;
}
