.component_grid_table_row {
  display: grid;
  column-gap: 16px;
  padding: $padding-xsmall;
  border-bottom: 1px solid $primary-grey-medium-light;
  &:last-child {
    border-bottom: none;
  }
}

.component_grid_table_row_header {
  background-color: $primary-grey-medium-light;
  //  border-radius: $border-radius-default $border-radius-default 0 0;
  //  padding: $padding-xsmall $padding-medium;
  padding: $padding-xsmall;
  text-align: left;
  //   font-size: $font-size-2;
  font-weight: 600;
  pointer-events: none;
}

.component_grid_table_row_header_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.component_grid_table_row_clickable {
  cursor: pointer;
  &:hover {
    transition: background-color 0.1s ease;
    background-color: $primary-grey-light;
  }
}

.component_grid_table_row_selected {
  background-color: $primary-grey-light;
  border: 2px solid $primary-grey-dark;
}
