// should be "light" or "dark"
@use "palette" as *;
@use "variables" as *;

@mixin theme_nature($theme: "light") {
  @if ($theme == "light") {
    color: $fc-dark;
  } @else {
    color: $fc-light;
  }
}

/**
* [background-color] does not work with linea-gradient css prop.
* Therefore, we are using [backgrounf]
*/
@mixin use_theme($background_color, $nature: "light") {
  @if ($background_color) {
    background: $background_color;
    @include theme_nature($nature);
  } @else {
    background: $primary-grey-light;
    @include theme_nature("light");
  }
}

@mixin component-theme-base {
  font-family: $font-family;
  background: unset;
  @include theme_nature("light");
}
