// font sizes
$font-size-1: 10px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
$font-size-6: 20px;
$font-size-7: 22px;
$font-size-7: 24px;
$font-size-default: $font-size-3;

$border-radius-default: 12px;
$border-radius-small: 4px;

// paddings
// general paddings
$padding-none: 0;
$padding-xxxsmall: 4px;
$padding-xxsmall: 8px;
$padding-xsmall: 12px;
$padding-small: 16px;
$padding-medium: 24px;
$padding-large: 32px;
$padding-xlarge: 48px;
$padding-xxlarge: 64px;

// margins
// general margins
$margin-none: 0;
$margin-center: 0 auto;
$margin-xxxsmall: 4px;
$margin-xxsmall: 8px;
$margin-xsmall: 12px;
$margin-small: 16px;
$margin-medium: 24px;
$margin-large: 32px;
$margin-xlarge: 48px;
$margin-xxlarge: 64px;
$margin-xxxlarge: 96px;
// text margins
$text-margin-bottom-xsmall: 5px;
$text-margin-bottom-small: 10px;
$text-margin-bottom-medium: 15px;
$text-margin-bottom-large: 20px;
// input
$input-group-margin-bottom: $margin-medium;

$sidebar-link-icon-margin-right: $margin-xsmall;

// heights
$alert-banner-height: 40px;
$input-text-height: 40px;
$upload-button-height: $input-text-height;
$navbar-height: 72px;
$main-height: 100vh;
$footer-height: 90px;
$sidebar-li-height: 60px;
$sidebar-li-line-height: $sidebar-li-height;

// widths
$max-width-screen-lg: 1280px;

$sidebar-width: 185px;
$content-container-min-width: 552px;
$auth-form-width: 552px;
$input-select-width: 192px;
$settings-container-width: 1128px;
$footer-width: $sidebar-width;

// main container
$main-padding-top: $navbar-height;
$main-padding-left: $sidebar-width;
$main-padding-right: 0;
// sidebar
$sidebar-padding-top: $navbar-height;
$sidebar-padding-left: $padding-none;
$sidebar-link-padding-left: $padding-medium;
$sidebar-nav-header-padding-left: $padding-small;
$collapse-banner-padding-left: $sidebar-width;

// footer
$footer-padding-left: $sidebar-padding-left;
