/*
* Global CSS Styles should ONLY be imported in [global.scss]
*/
.spin {
  animation: rotate 1.5s linear infinite;
}

.slideFromLeft {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.appear {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
