.adminProductPanel_container_theme_light {
  @include use_theme($white, "light");
  border-color: $primary-grey-medium-light;
}

.adminProductPanel_editButton_theme_light {
  @include use_theme($primary-grey-light, "light");
  border-color: $primary-grey-medium;
  &:hover {
    background-color: $primary-grey-dark;
    color: $fc-light;
  }
}

.adminProductPanel_archiveButton_theme_light {
  @include use_theme($primary-grey-light, "light");
  border-color: $primary-grey-medium;
  &:hover {
    background-color: $primary-grey-dark;
    color: $fc-light;
  }
}
