.component_confirmationdialog_container {
  min-width: 180px;
  min-height: 120px;
  text-align: center;
}

.component_confirmationdialog_header {
  font-size: $font-size-3;
  font-weight: bold;
  margin: $margin-medium auto;
}

.component_confirmationdialog_desc {
  margin-bottom: $margin-large;
}

.component_confirmationdialog_buttons_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.component_confirmationdialog_button_no,
.component_confirmationdialog_button_yes {
  width: 168px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: $border-radius-default;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.component_confirmationdialog_button_no {
  border: 1px solid $primary-grey-dark;
  margin-right: $margin-medium;
  color: $primary-grey-dark;
  &:hover {
    background-color: $primary-grey-light;
  }
}

.component_confirmationdialog_button_yes {
  background-color: $primary-grey-dark;
  color: $primary-grey-light;
  &:hover {
    background-color: $primary-grey-medium;
  }
}
