.componentLoader_container_theme_light {
  border: 1px solid $primary-grey-medium-light;
  background-color: $bg-fullscreenloader;
}

.componentLoader_loader_theme_light {
  border: 2px solid $primary-grey-dark;
  background-color: $primary-grey-dark;
}
