.loadingContainer_container_layer {
  width: fit-content;
}

.loadingContainer_container_conditional {
  width: inherit;
  min-width: inherit;
  max-width: inherit;

  height: inherit;
  min-height: inherit;
  max-height: inherit;
}

.loadingContainer_container_fullWidth {
  width: 100%;
}
