.component_externalLinks_container {
  //   border: 2px solid red;
  padding: 0 $padding-xxsmall;
  list-style: none;
}

.component_externalLinks_linkContainer {
  //   border: 2px solid blue;
  margin: $margin-xxsmall 0;
  font-style: italic;
}
