.component_footer_container {
  // border: 2px solid green;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  width: $footer-width;
  padding-left: $footer-padding-left;
  background-color: $bg-footer;
  color: $fc-footer;
  font-size: $font-size-1;
}

.component_footer_link {
  // font-family: something special;
  font-weight: bold;
  //   text-decoration: underline;
}
