.navItem_container {
  // use content width and height
  display: inline-block;
}

/**
* Public Usable
*/
.navItem_base {
  font-size: $font-size-default;
  cursor: pointer;
  display: block;
  height: $navbar_height;
  line-height: $navbar_height;
  width: 90px;
  text-align: center;
}

.navItem_element {
  border: none;
  text-decoration: none;
  opacity: 0.8;
  font-size: $font-size-3;
  font-weight: 500;
  &:hover {
    opacity: 1;
  }
}

.navItem_element_active {
  opacity: 1;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}
