// https://www.color-hex.com/color-palette/106519
// independent study color palette

// original theme
// TODO: need -medium, -light, -dark for each of the primary colors

$primary-blue: #213255;
$primary-red: #a43030;
$primary-yellow: #e2851e;
$primary-yellow-light: #ffc366;
$primary-green: #00593b;

$primary-grey-light: #eff2f8;
$primary-grey-medium-light: #dadfe8;
$primary-grey-medium: #8b93a1;
$primary-grey-dark: #434b59;
$primary-grey-dark-transparent: rgba(67, 75, 89, 0.5);

$success-green: #61c176;
$error-red: #ea4d44;

$white: #ffffff;
$black: #000000;
$link-blue: #2e7bc1;
$orange-gradient: linear-gradient(180deg, #fb974f 0%, #d75919 100%);

// dark theme here (later)
