.component_inputlabel_container {
  // border: 1px solid blue;
  width: 128px;
  margin-right: $margin-large;
}

.component_input_label_top {
  // border: 2px solid;
}

.component_inputlabel_label_margin {
  margin-bottom: $margin-xxsmall;
}

.component_inputlabel_label_margin_right {
  margin-right: $margin-xxxsmall;
}
