.flex_container {
  display: flex;
  // min-height: $main_height;
  // border: 2px solid blue;
}
.flex_row {
  flex-direction: row;
}
.flex_column {
  flex-direction: column;
}
.flex_justify_start {
  justify-content: flex-start;
}
.flex_justify_end {
  justify-content: flex-end;
}
.flex_justify_space-between {
  justify-content: space-between;
}
.flex_justify_space-around {
  justify-content: space-around;
}
.flex_justify_center {
  justify-content: center;
}
.flex_align_start {
  align-items: flex-start;
}
.flex_align_end {
  align-items: flex-end;
}
.flex_align_center {
  align-items: center;
}
.flex_grow {
  flex-grow: 1;
}
.flex_shrink {
  flex-shrink: 1;
}
.flex_no_shrink {
  flex-shrink: 0;
}
.flex_wrap {
  flex-wrap: wrap;
}

.flex_half {
  flex: 0.48;
}
.flex_full {
  flex: 1;
}
