.date_day_number_container {
  border-width: 1px;
  border-style: solid;
  // position: relative;
  cursor: pointer;
  transition: background-color 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_day_number_today_marker {
  border-radius: 90%;

  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
}
