.component_back_container {
  margin-top: $margin-xxsmall;
}

.component_back_link {
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  color: $fc-dark;
  font-weight: 600;
  font-size: $font-size-default;
}
