.example_app_styles {
  background-color: green;
  color: orange;
}

.addToCart_app_styles {
  border: 1px solid red;
  background: yellow;
  color: brown;

  button {
    background-color: black;
    color: green;
    font-weight: bold;
  }
}

.app_test_box {
  height: 200px;
  width: 200px;
  border: 2px solid red;
}
.app_test_data_table {
  width: 300px;
  height: 300px;
  border: 2px solid red;
}
