@use "styles/fonts" as *;
@use "styles/palette" as *;
@use "styles/variables" as *;
@use "styles/spacings" as *;
@use "styles/typography" as *;
@use "styles/transitions" as *;
@use "styles/mixins" as *;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.component_theme_default {
  @include component-theme-base;
}

.component_layout_default {
  // layout
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  position: relative;

  // font-smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.component_disabled {
  position: relative;
  pointer-events: none;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-grey-medium;
    opacity: 0.5;
  }
}

.no_select {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Old versions of Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version
}

.background_image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.overflow-y-auto {
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: $lc-blue;
}

ul {
  list-style: none;
}

table {
  font-family: $font-family;
  color: $fc-dark;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: $padding-xsmall;
  border: 1px solid #ddd;
}

th {
  background-color: $primary-grey-dark;
  color: $fc-light;
  text-align: left;
  font-weight: 500;
}

td {
  text-align: center;
}
