.dialog_container {
  //   border: 2px solid red;
  text-align: center;
}

.dialog_header {
  font-size: $font-size-7;
  font-weight: bold;
  margin: $margin-medium auto;
}

.dialog_description {
  margin-bottom: $margin-large;
}

.dialog_buttons_container {
  //   border: 2px solid red;
  display: block;
  width: 100%;
}

.dialog_buttons_container_yesNo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dialog_button_no {
  border-width: 1px;
  border-style: solid;
  margin-right: $margin-medium;
}

.dialog_button_yes,
.dialog_button_ok {
  border: none;
}
