// should be "light" or "dark"
@mixin theme_nature($theme: "light") {
  @if ($theme == "light") {
    color: $fc-dark;
  } @else {
    color: $fc-light;
  }
}

@mixin use_theme($background_color, $nature: "light") {
  @if ($background_color) {
    background-color: $background_color;
    @include theme_nature($nature);
  } @else {
    background-color: $primary-grey-light;
    @include theme_nature("light");
  }
}

@mixin component-theme-base {
  font-family: $font-family;
  background-color: unset;
  @include theme_nature("light");
}
