.imageContainer_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer_clickable_zoomIn {
  cursor: zoom-in;
}

.imageContainer_clickable_zoomOut {
  cursor: zoom-out;
}

.imageContainer_clickable_pointer {
  cursor: pointer;
}
