.component_datesGrid_container {
  //   border: 1px solid orange;
  display: grid;
  //   grid-auto-rows: auto;
}

.component_datesGrid_unit {
  border: 1px solid $primary-grey-medium;
  text-align: center;
  height: 24px;
  line-height: 24px;
}
