.button_container {
  display: block;
  width: 120px;
  height: 48px;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius-default;
  transition: background-color ease 0.1s;
  cursor: pointer;
}

.button_container_inheritWidth {
  width: 100%;
  min-width: inherit;
}

.button_container_link {
  // border: 2px solid red;
  border: none;
  padding: $padding-xxsmall;
  width: fit-content;
  height: initial;
  &:hover {
    text-decoration: underline;
  }
}
