.panel_row_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: $margin-small;
}

.panel_row_key {
  color: inherit;
  font-weight: 600;
}

.panel_row_value {
  color: inherit;
}
